Experiment 1 : Basic Concepts of Data Analytics and Python

In [1]:
print("Hello World")

Hello World

In [2]:
#printing 5 countries names
print("India")
print("The United State of America")
print("The United Kingdom")
print("Japan")
print("Italy")

India
The United State of America
The United Kingdom
Japan
Italy